# =========================
# 📦 NODE.JS / BACKEND
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Archivos temporales
tmp/
temp/
*.tmp
*.bak

# =========================
# 💻 FRONTEND
# =========================
dist/
build/
.cache/
*.tsbuildinfo

# =========================
# 🐳 DOCKER
# =========================
**/.dockerignore
**/Dockerfile
!docker-compose.yml

# =========================
# ⚙️ SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db

# =========================
# 🧩 EDITORES / IDE
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# 🧪 TESTS
# =========================
coverage/
.nyc_output/
jest-html-reporters-*

# =========================
# 📂 MISCELÁNEO
# =========================
seed.js
*.local.js
*.test.js
